
/*Se cambia el color de las letras y el fondo para el titulo de la pagina*/
#titulo-principal{ 
    margin-top: 10px;
    padding: 15px;
    color: #F0C61F;
    background-color: gray;
    border-radius: 25px;
    text-align: center;
}

/*Se cambia el color de las letras a gris y se alinea el texto al centro,
afecta el texto de las tarjetas*/
p {
    color: gray;
    text-align: center;
}

/*Se cambia la alineacion del titulo de las 4 tarjetas al centro*/
h5 {
    text-align: center;
}

/*Se ajustan las imagenes del carrusel al 100%*/
.carousel-item{
    width: 100%;
}

/*Se ajustan las imagenes de las 4 tarjetas a 12 rem*/
.card-img-top{
    height: 12rem;
}

/*Se ajusta el tamaño de las 4 tarjetas*/
body > div > div > div > .card{
    height: 25rem;
}